body{
  display: flex;
  background-color: black;
}
#manucasTittle {
  font-size: 100px;
  color: #71DDFE;
  align-items: center;
  justify-content: center;
}
#img1 {
  width: 400px;
  margin-left: 100px;
}